@each $key, $color in $colors{
    .fg-#{$key}{
        color: $color
    }
    
    .bg-#{$key}{
        background-color: $color
    }
}

@import "misc/reset";
@import "components/button";
@import "components/dialog";
@import "components/notification";
@import "components/tooltip";
@import "components/input";
@import "components/radio";
@import "components/checkbox";
@import "components/combobox";
@import "components/datepicker";
@import "components/contextmenu";
@import "components/grid";