button{
    @include pointer;
    @include inline-flex;
    @include align-center;
    @include justify-center;
    @include pseudo-btn('color-');
    gap: 7px;
    border-radius: 3px;
    border: 0;

    &:not(.text){
        &:not(.size-sm):not(.size-lg){
            padding: 0.3rem 0.7rem
        }

        &.size-sm{
            font-size: small;
            padding: 0.3rem 0.5rem
        }

        &.size-lg{
            font-size: large;
            padding: 0.3rem 1rem
        }
    }

    &.text{
        background-color: transparent;
        padding: 0
    }

    &[disabled]{
        opacity: 0.7
    }

    @each $key, $color in $colors{
        $newColor: color.adjust($color, $lightness: -10%);

        &.color-#{$key}:not(.text):not([disabled]):focus{
            background-color: $newColor;
            color: getButtonTextColor($newColor)
        }

        &.color-#{$key}.text:not([disabled]):focus{
            color: $newColor
        }
    }
}

dolfo-button{
    @include inline-flex
}