button{
    @include pointer;
    @include inline-flex;
    @include align-center;
    @include justify-center;
    @include pseudo-btn('color-');
    gap: 7px;
    border-radius: 3px;
    border: 0;

    &:not(.size-sm):not(.size-lg){
        padding: 0.3rem 0.7rem
    }

    &.size-sm{
        font-size: small;
        padding: 0.3rem 0.5rem
    }

    &.size-lg{
        font-size: large;
        padding: 0.3rem 1rem
    }

    &[disabled]{
        opacity: 0.7
    }

    @each $key, $color in $colors{
        &.color-#{$key}{
            &:not([disabled]):focus{
                $newColor: color.adjust($color, $lightness: -10%);
                background-color: $newColor;
                color: getButtonTextColor($newColor);
            }
        }
    }
}

dolfo-button{
    @include inline-flex
}