.combobox{
    @include base-input;
    @include pointer;
    @include relative;
    @include no-outline;
    z-index: 1;

    &.disabled{
        cursor: not-allowed;
        color: #666
    }

    &.autocomplete{
        padding: 0
    }

    .combobox-label{
        @include flex;
        @include align-center;
        @include relative;

        input{
            border: 0;
            box-shadow: unset !important;
            background-color: transparent
        }

        > span{
            @include block;
            @include ellipsis-text;
            width: 100%
        }
    }

    &.opened{
        border-color: $primary;
        background-color: rgba(0, 0, 0, 0.04);
        z-index: 2
    }

    .combobox-options{
        @include absolute;
        @include rounded;
        @include flex;
        background-color: $white;
        border: 1px solid $inputBorder;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        top: calc(100% + 5px);
        max-height: 200px;
        overflow: auto;
        left: 1rem;
        right: 1rem;
        padding: 0.3rem;
        gap: 0.3rem;
        flex-direction: column;

        &:not(.opened){
            @include hidden
        }

        .combobox-option, .loading, .no-results{
            @include rounded;
            @include flex;
            @include align-center;
            gap: 10px;
            padding: 0.3rem 0.5rem;

            &.loading, &.no-results{
                @include justify-center;
                padding: 0
            }

            &.combobox-option{
                &:not(.selected):hover, &.focused{
                    background-color: $secondary
                }
            }

            &.selected:not(.focused){
                background-color: #444;
                color: $white
            }
        }
    }
}