@mixin base-input(){
    @include block;
    @include rounded;
    padding: 0.3rem 0.5rem;
    background-color: $white;
    border: 1px solid $inputBorder;
    width: 100%;
    font: inherit;

    &::placeholder{
        color: $placeholder
    }
}

.input-container{
    margin-bottom: 0.5rem;

    > label{
        @include block;
        font-weight: 600;
        
        > span{
            color: $error;
            font-size: small
        }
    }

    &.error{
        input[type="text"], input[type="password"], input[type="email"], textarea, input[type="time"], input[type="number"], input[type="date"], input[type="file"], .combobox{
            border-color: $error !important;
            background-color: rgba(217, 16, 16, 0.07) !important
        }
    }

    .input-errors{
        font-size: small;
        color: $error
    }

    input[type="text"], input[type="password"], input[type="email"], textarea, input[type="time"], input[type="number"], input[type="file"]{
        @include base-input;

        &:focus{
            border-color: $primary;
            background-color: rgba(0, 0, 0, 0.04)
        }

        &[disabled]{
            cursor: not-allowed;
            color: #666
        }
    }

    input[type="file"]{
        @include pointer;

        &::file-selector-button{
            @include rounded;
            @include pointer;
            margin-right: 0.5rem;
            background-color: $primary;
            border: 0;
            color: $white;
            padding: 0.3rem 0.5rem;

            &:hover{
                background-color: color.adjust($primary, $lightness: -10%)
            }
        }

        &[disabled]::file-selector-button{
            opacity: 0.7;
            pointer-events: none
        }

        &.dragging{
            border-style: dashed;
            border-color: $primary
        }
    }

    textarea{
        resize: none;
        min-height: 100px
    }
}