$primary: #1d72e2;
$primaryFocusShadow: rgba(37, 136, 250, 0.2);
$secondary: #eee;
$error: #d91010;
$success: #1dad1d;
$warning: #d6ac15;
$white: #fff;
$lightGrey: #ccc;
$black: #000;
$info: #148dea;
$placeholder: #777;
$inputBorder: #888;

$colors: (
    "primary": $primary,
    "secondary": $secondary,
    "error": $error,
    "success": $success,
    "warning": $warning,
    "white": $white,
    "info": $info
);